/***
 *      __  __       _
 *     |  \/  | __ _(_)_ __
 *     | |\/| |/ _` | | '_ \
 *     | |  | | (_| | | | | |
 *     |_|  |_|\__,_|_|_| |_|
 *
 */

body, html {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
}


/***
 *      ____            _   _
 *     / ___|  ___  ___| |_(_) ___  _ __  ___
 *     \___ \ / _ \/ __| __| |/ _ \| '_ \/ __|
 *      ___) |  __/ (__| |_| | (_) | | | \__ \
 *     |____/ \___|\___|\__|_|\___/|_| |_|___/
 *
 */

.section-light{
  background-color: #e8e9ea;
  color: #666;
}

.section-dark{
  background-color: #282e34;
  color: #ddd;
}
